@charset "UTF-8";
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}

.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}

.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}

[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}

.slick-prev:before {
  content: "←";
}

[dir="rtl"] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}

[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}

.slick-next:before {
  content: "→";
}

[dir="rtl"] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}

.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

/**
 * Owl Carousel v2.3.4
 * Copyright 2013-2018 David Deutsch
 * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
 */
.owl-carousel, .owl-carousel .owl-item {
  -webkit-tap-highlight-color: transparent;
  position: relative;
}

.owl-carousel {
  display: none;
  width: 100%;
  z-index: 1;
}

.owl-carousel .owl-stage {
  position: relative;
  touch-action: manipulation;
  -moz-backface-visibility: hidden;
}

.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
}

.owl-carousel .owl-item, .owl-carousel .owl-wrapper {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}

.owl-carousel .owl-item {
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-touch-callout: none;
}

.owl-carousel .owl-item img {
  display: block;
  width: 100%;
}

.owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled {
  display: none;
}

.no-js .owl-carousel, .owl-carousel.owl-loaded {
  display: block;
}

.owl-carousel .owl-dot, .owl-carousel .owl-nav .owl-next, .owl-carousel .owl-nav .owl-prev {
  cursor: pointer;
  user-select: none;
}

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
  background: 0 0;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit;
}

.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}

.owl-carousel.owl-hidden {
  opacity: 0;
}

.owl-carousel.owl-refresh .owl-item {
  visibility: hidden;
}

.owl-carousel.owl-drag .owl-item {
  touch-action: pan-y;
  user-select: none;
}

.owl-carousel.owl-grab {
  cursor: move;
  cursor: grab;
}

.owl-carousel.owl-rtl {
  direction: rtl;
}

.owl-carousel.owl-rtl .owl-item {
  float: right;
}

.owl-carousel .animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.owl-carousel .owl-animated-in {
  z-index: 0;
}

.owl-carousel .owl-animated-out {
  z-index: 1;
}

.owl-carousel .fadeOut {
  animation-name: fadeOut;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.owl-height {
  transition: height .5s ease-in-out;
}

.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  transition: opacity .4s ease;
}

.owl-carousel .owl-item .owl-lazy:not([src]), .owl-carousel .owl-item .owl-lazy[src^=""] {
  max-height: 0;
}

.owl-carousel .owl-item img.owl-lazy {
  transform-style: preserve-3d;
}

.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url(owl.video.play.png) no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: transform .1s ease;
}

.owl-carousel .owl-video-play-icon:hover {
  transform: scale(1.3, 1.3);
}

.owl-carousel .owl-video-playing .owl-video-play-icon, .owl-carousel .owl-video-playing .owl-video-tn {
  display: none;
}

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity .4s ease;
}

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
}

/**
 * Owl Carousel v2.3.4
 * Copyright 2013-2018 David Deutsch
 * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
 */
.owl-theme .owl-dots, .owl-theme .owl-nav {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}

.owl-theme .owl-nav {
  margin-top: 10px;
}

.owl-theme .owl-nav [class*=owl-] {
  color: #FFF;
  font-size: 14px;
  margin: 5px;
  padding: 4px 7px;
  background: #D6D6D6;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
}

.owl-theme .owl-nav [class*=owl-]:hover {
  background: #869791;
  color: #FFF;
  text-decoration: none;
}

.owl-theme .owl-nav .disabled {
  opacity: .5;
  cursor: default;
}

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px;
}

.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
}

.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #D6D6D6;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity .2s ease;
  border-radius: 30px;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #869791;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

html,
body {
  font-family: 'Roboto', sans-serif;
}

html {
  scroll-behavior: smooth !important;
}

.clear {
  clear: both;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 970px !important;
}

@media screen and (max-width: 992px) {
  .container {
    max-width: 100% !important;
    padding: 0;
  }
}

header {
  position: fixed;
  top: -1px;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  z-index: 99;
  transition: all 0.2s;
}

header:hover {
  background-color: #fff;
}

header a {
  text-decoration: none !important;
}

header .navbar {
  height: 60px;
  background-color: rgba(255, 255, 255, 0.8) !important;
}

header .navbar button:focus {
  outline: none;
}

header .navbar-brand .webLogo {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  width: 50px;
}

header #navbarSupportedContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

header #navbarSupportedContent a {
  color: #000;
  margin-right: 20px;
  transition: all 0.2s;
}

header #navbarSupportedContent a:nth-of-type(4) {
  margin-right: 0;
}

header #navbarSupportedContent a:hover {
  color: #fb4226;
}

header #navbarSupportedContent a:focus, header #navbarSupportedContent a:active {
  outline: none;
}

header #navbarSupportedContent1 .nav-item {
  font-size: 20px;
  font-weight: 500;
}

header #navbarSupportedContent1 .loginRight {
  padding-right: 15px;
}

header #navbarSupportedContent1 .loginRight .login {
  height: auto;
  width: 30px;
  border-radius: 25px;
  margin-right: 5px;
}

header #navbarSupportedContent1 .loginRight span {
  color: #000;
  font-size: 16px;
  font-weight: normal;
}

header .right {
  position: absolute;
  top: 50%;
  right: 40px;
  transform: translateY(-50%);
}

header .right .loginRight {
  padding-right: 15px;
}

header .right .loginRight .login {
  height: auto;
  width: 30px;
  border-radius: 25px;
  margin-right: 5px;
}

header .right .loginRight span {
  color: #9b9b9b;
  font-size: 13px;
}

header .right #localtion {
  background-color: transparent;
  border-color: transparent;
  color: #9b9b9b;
  font-size: 13px;
}

header .right #localtion span {
  padding-right: 10px;
}

header .right button:focus {
  outline: none;
}

header .right .dropdown-menu {
  position: absolute;
  top: 150%;
  left: 0;
  z-index: 99;
  min-width: 160px;
  max-height: 300px;
  overflow-y: auto;
}

header .right .dropdown-menu .dropdown-item {
  color: #333333;
}

header .right .dropdown-menu .dropdown-item:hover {
  background-color: #60c5ef;
  color: #fff;
}

header .right ::-webkit-scrollbar {
  width: 5px;
}

header .right ::-webkit-scrollbar-track {
  background: #f1f1f1;
}

header .right ::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.364);
}

#sidebar {
  width: 60%;
  position: fixed;
  top: 0;
  right: -60%;
  height: 100vh;
  z-index: 999;
  background: #fff;
  color: #000;
  transition: all 0.3s;
  overflow-y: scroll;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#sidebar .loginRight {
  display: block !important;
  text-decoration: none;
  padding: 18px;
}

#sidebar .loginRight .login {
  height: auto;
  width: 30px;
  border-radius: 25px;
  margin-right: 5px;
}

#sidebar .loginRight span {
  color: #000;
  font-size: 16px;
  font-weight: normal;
}

#sidebar .loginRight:hover span {
  color: #fb4226;
}

#sidebar ul {
  list-style: none;
}

#sidebar ul li {
  padding: 20px;
}

#sidebar ul li a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
  font-weight: normal;
}

#sidebar ul li button {
  color: #000;
  font-size: 18px;
  font-weight: normal;
  background-color: transparent;
  border-color: transparent;
}

#sidebar ul li button:focus {
  outline: none;
}

.modal-content ul li {
  text-align: center;
  margin-bottom: 5px;
  height: 40px;
  display: block;
  font-size: 16px;
  border-bottom: 1px solid #ebebec;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding-top: 5px;
}

.modal-content ul li:nth-of-type(1) {
  color: #fb4226;
}

#sidebar.active {
  right: 0;
}

#dismiss {
  width: 15px;
  height: 15px;
  line-height: 15px;
  text-align: center;
  background: transparent;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  transition: all 0.3s;
  opacity: 1;
}

#dismiss:hover {
  opacity: 0.5;
}

.overlay {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 998;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.overlay.active {
  display: block;
  opacity: 1;
}

@media screen and (min-width: 768px) {
  #navbarSupportedContent1.navbar-collapse {
    display: none !important;
  }
}

.tixCarousel {
  position: relative;
  margin-top: 60px;
}

.tixCarousel .tixCarousel__content .slick-dots {
  position: absolute;
  bottom: 12%;
  left: 50%;
  transform: translateX(-50%);
  list-style: none;
  display: inline-block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

.tixCarousel .tixCarousel__content .slick-dots li {
  margin: 0;
}

.tixCarousel .tixCarousel__content .slick-dots li button {
  background-color: #d8d8d8;
  width: 12px;
  height: 12px;
  padding: 0;
  border-radius: 50%;
  border: none;
  color: transparent;
}

.tixCarousel .tixCarousel__content .slick-dots li button::before {
  display: none !important;
}

.tixCarousel .tixCarousel__content .slick-dots .slick-active button {
  background-color: #fb4226;
}

.tixCarousel .tixCarousel__content .slick-prev,
.tixCarousel .tixCarousel__content .slick-next {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  width: 50px;
  height: 100px;
  z-index: 2;
  opacity: 0.5;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.tixCarousel .tixCarousel__content .slick-prev::before,
.tixCarousel .tixCarousel__content .slick-next::before {
  display: none;
}

.tixCarousel .tixCarousel__content .slick-prev {
  background-image: url(../../img/back-session.png);
  left: 15px;
}

.tixCarousel .tixCarousel__content .slick-next {
  background-image: url(../../img/next-session.png);
  right: 12px;
}

.tixCarousel .tixCarousel__content .tixCarousel__item {
  position: relative;
}

.tixCarousel .tixCarousel__content .tixCarousel__item .img-carousel {
  width: 100%;
  height: 793px;
}

.tixCarousel .tixCarousel__content .tixCarousel__item .popup-trailer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  border: none;
  width: 100px;
  height: 100px;
  z-index: 2;
  opacity: 0;
  transition: all 0.2s;
}

.tixCarousel .tixCarousel__content .tixCarousel__item .popup-trailer button {
  margin: 0 auto;
  color: white;
  text-align: center;
  display: block;
  width: 90px;
  height: 90px;
  line-height: 90px;
  border: 2px solid white;
  border-radius: 50%;
  transition: all 0.5s;
  background-color: transparent;
  z-index: 4;
  opacity: 1;
  transition: all 0.2s;
}

.tixCarousel .tixCarousel__content .tixCarousel__item .popup-trailer button:focus {
  outline: none;
}

.tixCarousel .tixCarousel__content .tixCarousel__item .popup-trailer:hover button {
  opacity: 0.7;
}

.tixCarousel .tixCarousel__content .tixCarousel__item:hover .popup-trailer {
  opacity: 1;
}

.tixCarousel .tixCarousel__datVe {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  z-index: 8;
}

.tixCarousel .tixCarousel__datVe .navbar {
  height: 80px;
  background-color: #fff;
  border-radius: 5px;
  width: 100%;
}

.tixCarousel .tixCarousel__datVe #suatChieu,
.tixCarousel .tixCarousel__datVe #phim, .tixCarousel .tixCarousel__datVe #rap, .tixCarousel .tixCarousel__datVe #ngayXem {
  background-color: transparent;
  border-color: transparent;
  color: #000000;
  font-size: 14px;
  font-weight: 500;
}

.tixCarousel .tixCarousel__datVe #suatChieu span,
.tixCarousel .tixCarousel__datVe #phim span, .tixCarousel .tixCarousel__datVe #rap span, .tixCarousel .tixCarousel__datVe #ngayXem span {
  padding-right: 10px;
}

.tixCarousel .tixCarousel__datVe .dropdown {
  margin: 0 5px;
  width: calc(70% / 4);
}

.tixCarousel .tixCarousel__datVe .dropdown:nth-of-type(1) {
  width: 30%;
}

.tixCarousel .tixCarousel__datVe .dropdown .dropdown-toggle {
  width: 100%;
}

.tixCarousel .tixCarousel__datVe .dropdown .dropdown-toggle span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tixCarousel .tixCarousel__datVe .dropdown:nth-of-type(3) .dropdown-item p {
  margin: 0;
}

.tixCarousel .tixCarousel__datVe .dropdown:nth-of-type(3) .dropdown-item p:nth-of-type(2) {
  font-size: 11px;
  color: #AAAAAA;
}

.tixCarousel .tixCarousel__datVe .dropdown:nth-of-type(3) .dropdown-item:hover p {
  margin: 0;
}

.tixCarousel .tixCarousel__datVe .dropdown:nth-of-type(3) .dropdown-item:hover p:nth-of-type(2) {
  font-size: 11px;
  color: #fff;
}

.tixCarousel .tixCarousel__datVe .dropdown button {
  color: #fff;
  background-color: #4a4a4a;
}

.tixCarousel .tixCarousel__datVe .dropdown button:focus {
  outline: none;
  box-shadow: none;
}

.tixCarousel .tixCarousel__datVe button:focus {
  outline: none;
}

.tixCarousel .tixCarousel__datVe .dropdown-menu {
  position: absolute;
  top: 150%;
  left: 0;
  z-index: 99;
  min-width: 160px;
  max-height: 300px;
  overflow-y: auto;
}

.tixCarousel .tixCarousel__datVe .dropdown-menu .dropdown-item {
  color: #333333;
  font-size: 14px;
}

.tixCarousel .tixCarousel__datVe .dropdown-menu .dropdown-item:hover {
  background-color: #60c5ef;
  color: #fff;
}

.tixCarousel .tixCarousel__datVe ::-webkit-scrollbar {
  width: 5px;
}

.tixCarousel .tixCarousel__datVe ::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.tixCarousel .tixCarousel__datVe ::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.364);
}

@media screen and (max-width: 1200px) {
  .tixCarousel .tixCarousel__content .tixCarousel__item .img-carousel {
    height: 507px;
  }
}

@media screen and (max-width: 992px) {
  .tixCarousel .tixCarousel__content .tixCarousel__item .img-carousel {
    height: 417px;
  }
}

@media screen and (max-width: 768px) {
  .tixCarousel .tixCarousel__content .tixCarousel__item .img-carousel {
    height: 322px;
  }
}

@media screen and (max-width: 576px) {
  .tixCarousel .tixCarousel__content .tixCarousel__item .img-carousel {
    height: 243px;
  }
}

#movie {
  overflow: hidden;
}

#movie .movie__content .nav .nav-item .nav-link {
  font-size: 20px;
  line-height: 24px;
  height: 24px;
  background-color: transparent;
  border: none;
  color: #000;
  transition: all 0.2s;
}

#movie .movie__content .nav .nav-item .nav-link:hover {
  font-size: 24px;
}

#movie .movie__content .nav .nav-item .nav-link.active {
  font-size: 24px;
  color: #fa5238;
}

#movie .movie__content .owl-prev,
#movie .movie__content .owl-next {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  background-color: transparent !important;
  border: none;
  width: 50px;
  height: 100px;
  z-index: 20;
  opacity: 1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

#movie .movie__content .owl-prev span,
#movie .movie__content .owl-next span {
  display: none;
}

#movie .movie__content .owl-prev {
  background-image: url(../../img/back-session.png) !important;
  left: -70px;
}

#movie .movie__content .owl-next {
  background-image: url(../../img/next-session.png) !important;
  right: -70px;
}

#movie .movie__content .movie__item .movie__poster {
  position: relative;
  margin-bottom: 10px;
}

#movie .movie__content .movie__item .movie__poster .rating {
  position: absolute;
  top: 12px;
  right: 12px;
  background-color: rgba(12, 27, 54, 0.8);
  border: 1px solid #1f2e46;
  border-radius: 4px;
  padding: 2px;
  color: #fff;
  width: 54px;
  height: 40px;
  z-index: 6;
}

#movie .movie__content .movie__item .movie__poster .rating p {
  font-size: 20px;
  line-height: 18px;
  margin: 0;
  white-space: nowrap;
}

#movie .movie__content .movie__item .movie__poster .rating p:nth-of-type(2) {
  letter-spacing: -5px;
}

#movie .movie__content .movie__item .movie__poster .rating p img {
  width: 8px;
  margin: 0;
  padding: 0;
}

#movie .movie__content .movie__item .movie__poster .rating p .half {
  width: 10px;
}

#movie .movie__content .movie__item .movie__poster .overplay__top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #000, transparent 100%);
  opacity: 0;
  transition: all 0.2s;
}

#movie .movie__content .movie__item .movie__poster .overplay__top button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  color: white;
  text-align: center;
  font-size: 13px;
  display: block;
  width: 48px;
  height: 48px;
  line-height: 43px;
  border: 1px solid white;
  border-radius: 50%;
  transition: all 0.5s;
  background-color: transparent;
  z-index: 4;
  opacity: 1;
  transition: all 0.2s;
}

#movie .movie__content .movie__item .movie__poster .overplay__top button:focus {
  outline: none;
}

#movie .movie__content .movie__item .movie__poster .overplay__top button:hover {
  opacity: 0.7;
}

#movie .movie__content .movie__item .movie__intro {
  position: relative;
}

#movie .movie__content .movie__item .movie__intro p:nth-of-type(1) {
  height: 42px;
  max-height: 42px;
  font-size: 16px;
  color: #000;
  line-height: 22px;
  margin-bottom: 0;
  overflow: hidden;
  font-weight: 500;
}

#movie .movie__content .movie__item .movie__intro p:nth-of-type(2) {
  font-size: 13px;
  color: #4a4a4a;
  margin-bottom: 15px;
  margin-top: 8px;
  opacity: 1;
  transition: all 0.2s;
}

#movie .movie__content .movie__item .movie__intro span {
  background-color: #fb4226;
  color: #fff;
  border-radius: 4px;
  padding: 0 5px;
  margin-right: 8px;
  font-size: 14px;
  min-width: 33px;
  text-align: center;
  display: inline-block;
}

#movie .movie__content .movie__item .movie__intro .age {
  background-color: #00ac4d;
}

#movie .movie__content .movie__item .movie__intro .overplay__bot {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  border-radius: 4px;
  color: #fff;
  font-size: 18px !important;
  padding: 10px;
  text-align: center;
  background: #fb4226;
  opacity: 0;
  transition: all 0.2s;
  text-decoration: none;
}

#movie .movie__content .movie__item:hover .overplay__top,
#movie .movie__content .movie__item:hover .overplay__bot {
  opacity: 1;
}

#movie .movie__content .movie__item:hover .movie__intro p:nth-of-type(2) {
  display: none;
}

#movie .movie__content .movie__commingSoon .movie__item .movie__poster .releasedDate {
  position: absolute;
  bottom: 12px;
  right: 12px;
  font-size: 16px;
  background-color: rgba(12, 27, 54, 0.8);
  border: 1px solid #1f2e46;
  border-radius: 4px;
  padding: 2px;
  color: #fff;
  z-index: 6;
}

#movie .movie__content .movie__commingSoon .movie__item .movie__poster .releasedDate p {
  margin: 0;
}

#movie .movie__content .movie__commingSoon .movie__item .movie__intro p:nth-of-type(2) {
  display: block !important;
}

.banner {
  padding: 120px 0 80px 0;
  background: url(../../img/backapp.jpg);
  background-size: contain;
}

.banner .banner__content .left .lagre {
  color: #fff;
  font-weight: 700;
  font-size: xx-large;
}

.banner .banner__content .left .medium {
  color: #fff;
  font-size: medium;
}

.banner .banner__content .left .textApp {
  padding-top: 10px;
  color: #fff;
}

.banner .banner__content .left .textApp a {
  text-decoration: none;
  color: #fff;
  border-bottom: 1px solid #fff;
}

.banner .banner__content .left .btnApp {
  background-color: #fb4226;
  padding: 10px 20px;
  color: #fff;
  font-size: medium;
  font-weight: 700;
  border: none;
  border-radius: 4px;
}

.banner .banner__content .right {
  position: relative;
}

.banner .banner__content .right .img-phone {
  padding: 0 28%;
}

.banner .banner__content .right .mobileCarousel {
  position: absolute;
  top: 0;
  left: 30%;
  width: 40%;
  height: 100%;
  text-align: center;
  border-radius: 25px;
  overflow: hidden;
}

.banner .banner__content .right .mobileCarousel .item .img-item {
  width: 100%;
  height: 100%;
  display: inline-block;
}

.banner .banner__content .right .owl-nav {
  display: none;
}

@media screen and (max-width: 992px) {
  .banner__content .left {
    text-align: center;
  }
}

.showing {
  background-image: url(../../img/back-news.png);
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 120px;
}

.showing .tab-pane {
  height: 705px;
  overflow-x: hidden;
  overflow-y: auto;
  /* width */
  /* Track */
  /* Handle */
}

.showing .tab-pane ::-webkit-scrollbar {
  width: 5px;
}

.showing .tab-pane ::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.showing .tab-pane ::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.364);
}

.showing .logo {
  width: 90px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.showing .logo img {
  width: 50px;
  height: 50px;
}

.showing .nav-link.active {
  background-color: transparent;
  opacity: 1;
}

.showing .nav-link {
  max-width: 100%;
  opacity: 0.5;
  transition: all 0.2;
}

.showing .nav-link:hover {
  opacity: 1;
}

.showing .cinema .col-9 p {
  margin: 0;
}

.showing .cinema .col-9 p:nth-of-type(1) {
  color: #8bc541;
  font-size: 15px;
}

.showing .cinema .col-9 p:nth-of-type(1) span {
  color: #000;
}

.showing .cinema .col-9 p:nth-of-type(2) {
  color: #949494;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 13px;
}

.showing .cinema .col-9 p:nth-of-type(3) {
  font-size: 13px;
  color: #fb4226;
}

.showing .movieInfo {
  text-decoration: none;
}

.showing .movieInfo .col-2 img {
  width: 50px;
  height: 50px;
}

.showing .movieInfo .col-10 p span {
  background-color: #fb4226;
  color: #fff;
  border-radius: 4px;
  padding: 0 5px;
  float: left;
  margin-right: 5px;
  font-size: 12px;
  min-width: 33px;
  text-align: center;
}

.showing .movieInfo .col-10 p:nth-of-type(1) {
  font-size: 15px;
  line-height: 22px;
  color: #000;
  font-weight: 700;
  margin: 0;
  padding-top: 7px;
}

.showing .movieInfo .col-10 p:nth-of-type(2) {
  margin: 0;
  line-height: 1.7;
  font-size: 12px;
  color: #9b9b9b;
}

.showing .movieSessions p {
  font-weight: 700;
}

.showing .movieSessions .sesssions a {
  width: calc(25% - 10px);
  float: left;
  font-size: 14px;
  font-weight: 400;
  margin: 0 10px 10px 0;
  padding: 5px 0;
  transition: all 0.2s;
  text-decoration: none;
  display: block;
  text-align: center;
  background-color: rgba(246, 246, 246, 0.5);
  border-radius: 7px;
  color: #9b9b9b;
  border: 1px solid #e4e4e4;
}

.showing .movieSessions .sesssions a span:nth-of-type(1) {
  font-size: 18px;
  font-weight: 500;
  color: #108f3e;
}

.showing .movieSessions .sesssions a:hover span:nth-of-type(1) {
  color: #fb4226;
}

.news {
  background-image: url(../../img/back-news.png);
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 120px;
}

.news .news__content .nav .nav-item .nav-link {
  font-size: 20px;
  line-height: 24px;
  height: 24px;
  background-color: transparent;
  border: none;
  color: #000;
  transition: all 0.2s;
}

.news .news__content .nav .nav-item .nav-link:hover {
  font-size: 24px;
}

.news .news__content .nav .nav-item .nav-link.active {
  font-size: 24px;
  color: #fa5238;
}

.news .news__content .news__item {
  padding: 0 5px;
  margin-bottom: 25px;
}

.news .news__content .news__item img {
  border-radius: 4px;
  margin-bottom: 10px;
}

.news .news__content .news__title {
  text-decoration: none !important;
  color: #000;
  transition: all 0.2s;
}

.news .news__content .news__title p {
  text-overflow: ellipsis;
  overflow: hidden;
  height: 42px;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 5px !important;
}

.news .news__content .news__title:hover {
  color: #fb4226;
}

.news .news__content .news__description {
  text-align: justify;
  font-size: 13px;
  color: #4a4a4a;
  padding: 0 5px 0 0;
  line-height: 19px;
  text-overflow: ellipsis;
  height: 55px;
  margin-bottom: 15px;
  overflow: hidden;
}

.news .news__content .hiding {
  opacity: 0.7;
}

.news .news__content .news__icon {
  color: #bbb;
  text-decoration: none;
  margin-right: 15px;
}

.news .news__content .news__icon i {
  color: #bbb;
  margin-right: 5px;
}

.news .news__content .btnXemThem .btn-xemThem {
  font-size: 14px;
  color: #949494;
  border: 1px solid #949494;
  border-radius: 4px;
  text-align: center;
  background: 0 0;
  padding: 7px 25px;
  transition: all 0.2s;
  margin: auto;
  margin-top: 35px;
  margin-bottom: 20px;
  display: block;
}

.news .news__content .btnXemThem .btn-xemThem:hover {
  background-color: #fb4226;
  border-color: #fb4226;
  color: #fff !important;
}

.news .news__content .btnXemThem .btn-xemThem:focus {
  box-shadow: none;
}

.news .news__content .news__last {
  padding: 0;
}

.news .news__content .news__last .news__small {
  padding: 0 5px;
}

@media screen and (max-width: 768px) {
  .news__content.container {
    max-width: 100%;
  }
}

footer {
  padding-top: 20px;
  background-color: #222;
}

footer .footer__top {
  padding-bottom: 10px;
}

footer .footer__top p {
  color: #fff;
  font-size: 12px;
}

footer .footer__top a {
  text-decoration: none;
  transition: all .2s;
}

footer .footer__top a p {
  font-weight: 700;
  font-size: 13px;
  color: #949494;
}

footer .footer__top a:hover p {
  color: #fff;
}

footer .footer__top .row {
  margin: 0;
}

footer .footer__top .line {
  margin-bottom: 15px;
}

footer .footer__top .icon img {
  height: 30px;
  width: 30px;
  margin-right: 15px;
  border-radius: 50%;
  background-color: #fff;
}

footer .footer__top .logo img {
  height: 30px;
  width: auto;
  margin: 5px;
}

footer .footer__bot {
  border-top: 1px solid #4a4a4a;
  padding-top: 20px;
}

footer .footer__bot .zion_logo {
  width: 80px;
}

footer .footer__bot p {
  color: #949494;
}

footer .footer__bot p:nth-of-type(1) {
  color: #fff;
}

footer .footer__bot .support {
  color: #FB4226;
  text-decoration: none;
}

footer .footer__bot .logo_bct img {
  width: 130px;
}

@media screen and (max-width: 992px) {
  .footer__top .dieuChinh {
    display: inline;
  }
  .footer__bot .mid {
    text-align: center;
  }
}

@media screen and (max-width: 892px) {
  .footer__top .dieuChinh {
    display: block;
    padding-left: 0 !important;
  }
}

@media screen and (max-width: 768px) {
  .footer__bot {
    text-align: center !important;
  }
  .footer__bot .bot__bot {
    text-align: center !important;
  }
  .footer__bot .bot__bot .logo_bct {
    text-align: center !important;
  }
}
/*# sourceMappingURL=main.css.map */